* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.rowreverse{
    flex-direction: row-reverse;
}

.f-white{
    color: white;
}

.f-violet{
    color:rgba(114,137,218,255);
}

.f-black{
    color:black
}

.font-size50{
    font-size: 50px;
}

.font-size20{
    font-size: 20px;
}

.font-size30{
    font-size: 30px;
}

.margin30{
    margin: 30px;
}

.marginbottom20{
    margin-bottom: 20px;
}

.margin40-50{
    margin: 40px 50px;
}

.margin10{
    margin: 10px;
}

.b-grey{
    background-color: rgb(231, 231, 231);
}

.b-white{
    background-color: white;
}

.b-black{
    background-color: rgba(35,39,42,255);
}

.but-padding{
    padding: 12px 15px;
}

/*header*/

.container{
    display: flex;
    justify-content: center;
    height:60px;
    margin: auto;
    width: 75%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    width: 100%;
}

.riga{
    display:flex;
    min-height: 70%;
    width:100%;
    margin:auto;
}
.col1{
    display: flex;
    width:25%;
    min-height: 100%;
    justify-content: flex-start;
}

.col2{
    width:50%;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.col3{
    display:flex;
    width:25%;
    min-height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.loginbutton{
    border-radius: 20px;
    background-color: white;
    height: fit-content;
    padding: 6px 7px;
}

/*primo pannello*/

.firstpanel{
    
    width:100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.panel-item{
    width:40%;
    height:300px;
}

.f-p-button{
    border-radius: 20px;
    height: fit-content;

}

/*secondo pannello*/

.secondpanel{
    background-color: rgb(255, 255, 255);
    width:75%;
    min-height: 500px;
    margin:auto;
    display: flex;
    justify-content: center;
    
}

.innerpanel{
    display:flex;
    height:400px;
    width:70%;
    margin:auto;
}

.bigc{
    width:67%;
    height: 100%;
}

.smallc{
    width:33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigc img{
    object-fit: contain;
    width:100%;
    height: 100%;
}

.sangiuseppe{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

/*terzo pannello*/

.thirdpanel{

    width:75%;
    min-height: 500px;
    margin:auto;
    display: flex;
    justify-content: center;
}

/*quinto pannello*/

.fifthpanel{
    width:100%;
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bigpanel-item{
    width:50%;
    height:700px;
}

.fifthp{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.fifthp2{
    background-image: url(../img/stars.svg);
    background-position: center;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifthp3{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.downloadbutton{
    background-color: rgba(142,161,225,255);
    border-radius: 30px;
    color:white;
    height: fit-content;
    width: fit-content;
    padding: 13px 15px;
}

/*sesto pannello*/

.sixtpanel{
    background-color: rgba(35,39,42,255);
    background-position: center center;
    width:100%;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixtinnerpanel{
    display:flex;
    height:390px;
    width:50%;
    margin:5px auto auto auto;
}

.bigcsixt{
    width:28%;
    height: 100%;
}

.smallcsixt{
    width:18%;
    height: 100%;
    border:1.3px dashed white;
    background-color: rgb(115, 226, 221);
}

/*footer*/

.footercontainer{
    background-color: rgba(35,39,42,255);
    height:60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}



.innerfooterpanel{
    background-color: aquamarine;
    display:flex;
    height:50px;
    width:50%;
    margin:10px auto 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logobutton{
    background-color: rgb(212, 126, 137);
    border:1px dashed black;
}

.button{
    background-color: rgb(212, 126, 137);
    border:1px dashed black;
}

.chooselang{
    display:flex;
    align-items:center;
    margin-top: 20px;
    
}

.chooselang img{
    width:23px;
}

.chooselang p{
    font-size: 12px;
    margin-left: 5px;
}

.icons{
    display: flex;
}

.icons img{
    width: 23px;
    margin: 18px 15px 0 0;
}

